:root{
    --numOfCards:4;
    --cardBG: rgb(235, 228, 220);
}

html{
    overflow-x:hidden;
}
body{
    margin: 0;
    padding-top: 22px;
    padding-bottom: 120px;
    background-color: #FAF9F6;
    overflow-x:hidden;
}
a{
    all: unset;
}
.formatA{
    color: rgb(89, 89, 161);
    text-decoration: underline;
}
.formatA:hover{
    color: rgb(123, 123, 226);
}


.title{
    width: 100%;
    height: 20vh;
}

.title h1, h3{
    position: relative;
    width: 100%;
    text-align: center;
}

.cardGrid{
    width: 100vw;
    height: fit-content;
    position: relative;

    display: grid;
    grid-template-columns: 28em 28em 28em;
    grid-template-rows: repeat(round(up, calc(var(--numOfCards)/3), 1), 15em);
    padding: 5vw;
    gap: 5vw;
}

@media screen and (max-width: 1600px){
    .cardGrid{
        grid-template-columns: 28em 28em;
        grid-template-rows: repeat(round(up, calc(var(--numOfCards)/2), 1), 15em);
    }
}
@media screen and (max-width: 950px){
    .cardGrid{
        grid-template-columns: 28em;
        grid-template-rows: repeat(var(--numOfCards), 15em);
    }
}
@media screen and (max-width: 500px){
    .cardGrid{
        grid-template-columns: 100vw;
        grid-template-rows: repeat(round(up, calc(var(--numOfCards)/2), 1), 15em);
        padding: 0px;
    }
    .cardGrid .left{
        rotate: 0deg;
    }
    .cardGrid .right{
        rotate: 0deg;
    }
}
.card{
    background-size: cover;
    background-color: var(--cardBG);
    background-position-y: -30px;
    box-shadow: 0px 1px 10px rgb(134, 134, 134);
    padding: 20px;
    text-align: center;
    position: relative;
    transition: 500ms;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.left{
    rotate: 2deg;
}
.right{
    rotate: -2deg;
}

.articleTitle{
    font-size: 50px;
    margin-bottom: 0px;
    position: relative;
}
.articleDate{
    font-size: 20px;
    margin-top: 5px;
    position: relative;
}
.title{
    height: max-content;
}
.content{
    padding-left: 20vw;
    padding-right: 20vw;
}
@media screen and (max-width:1200px){
    .content{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media screen and (max-width:800px){
    .content{
        padding-left: 0;
        padding-right: 0;
    }
    .content p{
        padding-left: 3vw;
        padding-right: 3vw;
    }
    blockquote{
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }
}

.content p{
    word-wrap: break-word;
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}
.content img{
    width: 100%; 
}

.content .verticalImage{
    width: 50%;
    left: 50%;
    min-width: 300px;
    position: relative;
    transform: translate(-50%, 0);
}

.content .caption{
    text-align: center;
    color: rgb(71, 71, 71);
    margin-top: 5px;
    font-size: 15px;
}
.setList{
    padding-left: 5vw;
}
.setList p{
    line-height: 20px;
}
.backArrow{
    border: solid #afafa8;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    position: relative;
    left: 1em;
    top: 0;
}
.backArrow:hover{
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    position: relative;
    left: 1vw;
}
blockquote{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;

    box-shadow: 0px 1px 10px rgb(227, 227, 227);
    margin-top: 50px;
    margin-bottom: 50px;
}










.quizInputWrapper{
    width: 100vw;
    height: max-content;
}
.quizInput{
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    height: 30vh;
    width: calc(30vw + 2em);

    padding: 5px;
}
.quizInput:focus{
    outline:none !important;
}
.generateQuiz{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--cardBG);

    position: relative;
    top: 20px;
    left: calc(50% - 60px);
    

    transition: 250ms;

    font-size: 20px;
}
.buttonWrapper{
    position: relative;
    height: 63px;
}
.generateQuiz:hover{
    cursor: pointer;
    background-color: rgb(200, 193, 185);
}
.tenseSelectorWrapper{
    background-color: var(--cardBG);
    width: 30vw;
    height: max-content;
    padding: 1em;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5vh;
}