:root{
    --numOfCards:4;
}

html{
    overflow-x:hidden;
}
body{
    margin: 0;
    padding-top: 22px;
    padding-bottom: 120px;
    background-color: #FAF9F6;
    overflow-x:hidden;

    --dot-bg: #fdfcf3;
    --dot-color: #dcdcd4;
    --dot-size: 1.5px;
    --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

}
a{
    all: unset;
}
.formatA{
    color: rgb(89, 89, 161);
    text-decoration: underline;
}
.formatA:hover{
    color: rgb(123, 123, 226);
}


.title{
    width: 100%;
    height: 20vh;
}

.title h1, h3{
    position: relative;
    width: 100%;
    text-align: center;
}

.cardGrid{
    width: 100vw;
    height: fit-content;
    position: relative;

    display: grid;
    grid-template-columns: 28em 28em 28em;
    grid-template-rows: repeat(round(up, calc(var(--numOfCards)/3), 1), 15em);
    padding: 5vw;
    gap: 5vw;
}

@media screen and (max-width: 1600px){
    .cardGrid{
        grid-template-columns: 28em 28em;
        grid-template-rows: repeat(round(up, calc(var(--numOfCards)/2), 1), 15em);
    }
}
@media screen and (max-width: 950px){
    .cardGrid{
        grid-template-columns: 28em;
        grid-template-rows: repeat(var(--numOfCards), 15em);
    }
}
.card{
    background-size: cover;
    background-color: white;
    background-position-y: -30px;
    box-shadow: 0px 1px 10px rgb(134, 134, 134);
    padding: 20px;
    text-align: center;
    position: relative;
    transition: 500ms;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.AJRConcert{
    background-image: linear-gradient(rgba(195, 195, 195, 0.5), rgba(195, 195, 195, 0.5)), 
                        url("/assets/AJR Concert.jpeg");
    background-position-y: -30px;
}
.left{
    rotate: 2deg;
}
.right{
    rotate: -2deg;
}

.articleTitle{
    font-size: 50px;
    margin-bottom: 0px;
}
.articleDate{
    font-size: 20px;
    margin-top: 5px;
}
.content{
    padding-left: 20vw;
    padding-right: 20vw;
}
.content p{
    word-wrap: break-word;
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}
.content img{
    width: 60vw;
}
.content .verticalImage{
    width: 30vw;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}
.content .caption{
    text-align: center;
    color: rgb(71, 71, 71);
    margin-top: 5px;
    font-size: 15px;
}
.setList{
    padding-left: 5vw;
}
.setList p{
    line-height: 20px;
}
.backArrow{
    border: solid #afafa8;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    position: relative;
    left: 1vw;
    top: 0;
}
.backArrow:hover{
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    position: relative;
    left: 1vw;
}
blockquote{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;

    box-shadow: 0px 1px 10px rgb(227, 227, 227);
    margin-top: 50px;
    margin-bottom: 50px;
}